<div class="row">
  <div class="col-xs col-sm col-md col-lg text-center main">
    <img src="../../../assets/cocktail-header.jpg" alt="cocktail" />
    <h3>DRINK OF THE DAY...</h3>
    <hr>
  </div>
</div>

<div class="heading-content">
  <q> Thirsty? We have hundreds and hundreds of delicious cocktail recipes from expert
    bartenders around the world. No matter if you're looking for a classic cocktail, a punch for a party
    or an original concoction, we have a cocktail recipe for every taste and occasion, just a shake, stir or pour away.
  </q>
</div>


<app-cocktai-details [drink]="randomDrink"></app-cocktai-details>

<div class="row text-center mt-4 bottom">
  <div class="col-sm col-xs col-md col-md">
   <h5>Become a Cocktail Expert</h5> 
  </div>
</div>
