.main img {
  max-width: 400px;
}



.heading-content {
  padding-bottom: 1rem;
  font-size: 0.85rem;
  line-height: 1.2;
  margin: 0 auto;
  text-align: center;
  font-family: Montserrat, Helvetica, sans-serif;
  text-transform: uppercase;
}

.bottom {
  font-family: Montserrat, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #A45241;
}