<div class="row">
  <div class="col-xs col-sm col-md col-lg text-center main">
    <img src="../../../assets/cocktail-header.jpg" alt="cocktail" />
    <h1 class="mt-4">Cocktails by Choice</h1>
    <hr>
  </div>
</div>

<div class="heading-content">
  <q> Thirsty? We have hundreds and hundreds of delicious cocktail recipes from expert
    bartenders around the world. No matter if you're looking for a classic cocktail, a punch for a party
    or an original concoction, we have a cocktail recipe for every taste and occasion, just a shake, stir or pour away.
  </q>
</div>


<app-cocktai-details [drink]="randomDrink"></app-cocktai-details>
